.title {
  position: center;
  top: 50%;
  left: 50%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text--center {
  text-align: center;
}

.profilepicture {
  height: 100%;
  max-height: 250px;
  width: 100%;
  max-width: 250px;
  border-radius: 100%;
  margin: auto;
  display: block;
}

.card-columns {
  column-count: 4;
}

@media screen and (max-width: 992px) {
  .card-columns {
    column-count: 3
  }
}

@media screen and (max-width: 768px){
  .card-columns {
    column-count: 2;
  }
}

@media screen and (max-width: 600px) {
  .card-columns {
    column-count: 1;
  }
}


.test1 {
  column-count: 3;
}

@media screen and (max-width: 992px) {
  .test1 {
    column-count: 3
  }
}

@media screen and (max-width: 768px){
  .tes1 {
    column-count: 2;
  }
}

@media screen and (max-width: 600px) {
  .test1 {
    column-count: 1;
  }
}


